@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400&display=swap");



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #c8bbfd, #9cf9fe) no-repeat fixed;
  background-size: cover;
}

.container {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}

article h1 {
  margin: 1rem 0;
}

#header {
  background-color: #1f222a;
}

/* For screens with a width between 1024px and 1535px */
@media (min-width: 1024px) and (max-width: 1535px) {
  #header {
    height: 66px;
  }
}

/* For screens with a width of 1536px and above */
@media (min-width: 1536px) {
  #header {
    height: 85px;
  }
}

